.banner {
  display: block;
  width: 100%;
}

.post {
  h1 {
    display: block;
    margin: 5rem 0 1.5rem;

    font-size: 3rem;
    font-weight: bold;
    color: var(--heading);
  }

  > div {
    display: flex;
    font-size: 0.875rem;

    time {
      display: flex;
      align-items: center;
      margin-right: 1.5rem;

      text-transform: capitalize;
    }

    span {
      display: flex;
      align-items: center;

      & + span {
        margin-left: 1.5rem;
      }
    }

    svg {
      margin-right: 0.5rem;
    }
  }

  h2 {
    margin: 4rem 0;

    font-size: 2.25rem;
    font-weight: bold;
    line-height: 1.4;
    color: var(--heading);
  }

  p {
    font-size: 1.125rem;
    line-height: 1.4;
  }

}
